shop
{
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}

shopID, shopName, shopURL
{
    display: block;
    color: #000000;
    margin-left: 20;
    font-size: 20pt;
}

